/* Animasi untuk popup marker */
@keyframes fadeInScaleUp {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.custom-popup .leaflet-popup-content-wrapper {
  animation: fadeInScaleUp 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: bottom left; /* Animasi dimulai dari titik panah popup */
}